/* general */
html, body {
  background: #2B303A;
}

.navbar {
  background-color: #EEE5E9;
}

.container {
  background: #92DCE5;
}

.row {
  padding: 15px;
}

.btn {
  background: #2B303A;
  color: #EEE5E9;
}

a:hover {
  text-decoration: none;
}

/* index view */
.preview {
  background: #EEE5E9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #2B303A;
}

.blog-post-date {
  font-size: 12px;
}

.blog-post-title {
  font-size: 25px;
}

/* detail view */
.detail {
  background: #EEE5E9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #2B303A;
}
