{% extends "base.html" %}

{% block title %}{{ blog_post.title }} - TAP{% endblock %}

{% block content %}
<div class="detail-container container">
  <div class="row">
    <div class="detail-title-card card col-md">
      <div class="timestamp">{{ blog_post.created_at }}</div>
      <div class="detail-title">{{ blog_post.title }}</div>
    </div>
  </div>
  <div class="row">
    <div class="detail-content-card card col-md">
      {% if blog_post.created_at < blog_post.modified_at %}
        <div class="timestamp font-weight-bold font-italic">Edited: {{ blog_post.modified_at }}</div>
      {% endif %}
      <div class="detail-content">{{ blog_post.content }}</div>
    </div>
  </div>
</div>
{% endblock %}
