{% extends "blog/base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    {% for blog_post in blog_posts %}
      <div class="px-1 py-1 col-lg-4">
        <a href="{% url 'blog:detail' blog_post.id %}">
          <div class="card preview text-center">
            <div class="blog-post-date">{{ blog_post.creation_date }}</div>
            <div class="blog-post-title text-truncate">{{ blog_post.title }}</div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
