{% extends "base.html" %}

{% block title %}Blog - TAP{% endblock %}

{% block content %}
<div class="blog-container container">
    {% for blog_post in blog_posts %}
      <div class="row">
        <div class="blog-card card col-md">
          <div class="timestamp">{{ blog_post.created_at }}</div>
          <div class="blog-title text-truncate">{{ blog_post.title }}</div>
          <a href="{% url 'blog:detail' blog_post.id %}" class="stretched-link"></a>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}
